<% if(errorMsg.length > 0) {%>
<div class="alert alert-danger alert-dismissible fade show alerta" role="alert">
  <p class="text-center text-uppercase"><%= errorMsg %></p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% }%>
