<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="ProyectoBACKEND" />
    <meta name="author" content="anyelo" />
    <title>Bienvenido a Concesionaria UVM CAR</title>
    <script
      language="javascript"
      src="/stylesheets/jquery-2.1.4.min.js"
    ></script>
    <!-- Cargar el CSS de Boostrap-->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <!-- Cargar estilos propios -->
    <link href="/stylesheets/style.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar bg-dark text-white fixed-top">
      <h3 class="text-white text-center">Concesionaria UVM CAR</h3>
    </nav>
    <main>
      <div></div>
    </main>
  </body>
</html>
